<div class="bid-pad">
    <table>
        <tr>
            <td><div class="pass bidbutton" ng-class="{active: isActiveLevel(0)}" ng-click="setLevel(0)">Pass</div></td>
            <td><div class="bidbutton" ng-class="{active: isActiveLevel(1)}" ng-click="setLevel(1)">1</div></td>
            <td><div class="bidbutton" ng-class="{active: isActiveLevel(2)}" ng-click="setLevel(2)">2</div></td>
            <td><div class="bidbutton" ng-class="{active: isActiveLevel(3)}" ng-click="setLevel(3)">3</div></td>            
        </tr>
        <tr>
            <td><div class="bidbutton" ng-class="{active: isActiveLevel(4)}" ng-click="setLevel(4)">4</div></td>
            <td><div class="bidbutton" ng-class="{active: isActiveLevel(5)}" ng-click="setLevel(5)">5</div></td>
            <td><div class="bidbutton" ng-class="{active: isActiveLevel(6)}" ng-click="setLevel(6)">6</div></td>
            <td><div class="bidbutton" ng-class="{active: isActiveLevel(7)}" ng-click="setLevel(7)">7</div></td>            
        </tr>
        <tr>
            <td><div class="bidbutton clubs" ng-class="{active: isActiveSuit(0)}" ng-click="setSuit(0)">&clubs;</div></td>
            <td><div class="bidbutton diamonds" ng-class="{active: isActiveSuit(1)}" ng-click="setSuit(1)">&diams;</div></td>
            <td><div class="bidbutton hearts" ng-class="{active: isActiveSuit(2)}" ng-click="setSuit(2)">&hearts;</div></td>
            <td><div class="bidbutton spades" ng-class="{active: isActiveSuit(3)}" ng-click="setSuit(3)">&spades;</div></td>
        </tr>
            <td><div class="bidbutton notrump" ng-class="{active: isActiveSuit(4)}" ng-click="setSuit(4)">NT</div></td>
            <td><div>&nbsp;</div></td>
            <td><div class="bidbutton doubled" ng-class="{active: contract.Doubled}" ng-click="contract.Doubled = !contract.Doubled">X</div></td>
            <td><div class="bidbutton redoubled" ng-class="{active: contract.ReDoubled}" ng-click="contract.ReDoubled = !contract.ReDoubled">XX</div></td>
        <tr>
            <td><div class="bidbutton" ng-class="{active: isActiveDeclarer(0)}" ng-click="setDeclarer(0)">North</div></td>
            <td><div class="bidbutton" ng-class="{active: isActiveDeclarer(1)}" ng-click="setDeclarer(1)">South</div></td>
            <td><div class="bidbutton" ng-class="{active: isActiveDeclarer(2)}" ng-click="setDeclarer(2)">East</div></td>
            <td><div class="bidbutton" ng-class="{active: isActiveDeclarer(3)}" ng-click="setDeclarer(3)">West</div></td>
        </tr>
        <tr>
            <td class="tricksLabel">Tricks:</td>
            <td><div class="bidbutton" ng-click="decrTricks()"><i class="icon-minus-sign"></i></div></td>
            <td><div class="center"><input class="input-mini" type="number" min="0" ng-model="contract.Tricks"/></div></td>
            <td><div class="bidbutton" ng-click="incTricks()"><i class="icon-plus-sign"></i></div></td>
        </tr>
    </table>
</div>