<!DOCTYPE html>
<html>
  <head>
    <title>DupliScore</title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/font-awesome.css' />
    <link rel='stylesheet' href='/css/alertify.css' />
    <link rel='stylesheet' href='/css/dupliscore.css' />
    <script src="/js/lib/jquery.js"></script>
  </head>
  <body class="container">
<% if (user) { %>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/about">Dupliscore</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="">
                                <a href="/">Home</a>
                            </li>
                            <li class="">
                                <a href="/myaccount">My account</a>
                            </li>
                            <li class="active">
                                <a href="/tournaments">Tournaments</a>
                            </li>
                            <li class="">
                                <a href="/players">Players</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="nav pull-right">
                        <li>
                            <a href="/logout">
                                <i class="icon-signout"></i> Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>    
    <% } %><%-body %>
    <script src="/js/lib/bootstrap.js"></script>
  </body>
</html>
