<div class="row">    
    <div class="well">
        <a href="#" id="createTournament" class="btn btn-primary">New tournament</a>
    </div>
</div>

    <script src="/js/lib/underscore.js"></script>
    <script src="/js/lib/handlebars.js"></script>
    <script src="/js/lib/backbone.js"></script>
    <script src="/js/lib/backbone.localStorage.js"></script>
    <script src="/js/brisco/briscoGame.js"></script>
    <script src="/js/brisco/briscoScore.js"></script>
    <script src="/js/brisco/briscoHtml.js"></script>
    <script src="/js/handlebars-brisco.js"></script>
    <script src="/js/db.js"></script>
    <script src="/js/start.js"></script>