body { padding-top: 50px; }

.center {
  text-align: center;
}

.right { float: right; }

/* tournaments */
.nav-list > li > a {
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #E5E5E5;
}

.table td.number,.table th.number { text-align: right; }
.table td.center, .table th.center { text-align: center; }

.pass { color: #FFF; background-color: #00bb4d; }
.doubled { color: #FFF; background-color: #ff504c; }
.redoubled { color: #FFF; background-color: #1d1bff; }
.red { color: red; }
 
div.spades { color: #071087; background-color: #c3cceb; }
div.hearts { color: #d72b21; background-color: #ffe2e8; }
div.diamonds { color: #ef6c1a; background-color: #ffe5d0; }
div.clubs { color: #28552a; background-color: #d4ded5; }
.notrump { color: #000000; background-color: #cfcfca; }

i.spades:before { content: "\002660"; font-style: normal; }
i.hearts:before { color: #d72b21; content: "\002665"; font-style: normal; }
i.diamonds:before { color: #d72b21; content: "\002666"; font-style: normal; }
i.clubs:before { content: "\002663"; font-style: normal; }

div.cards { border: 1px solid #DDD; border-radius: 2px; float: left; padding: 5px; margin-right: 15px; margin-bottom: 15px;}
table.cards td { padding: 5px; vertical-align: top; }
table.cards div.center { border: 1px solid #DDD; border-radius: 10px; }
table.cards td.info { color: #DDD; font-weight: bold; text-align: right; }

/* Boards */
.bid-pad div.bidbutton {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 2.5%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    border: 2px solid #E5E5E5;
    border-radius: 7px;
    cursor: pointer;
}

.bid-pad div.contract {
    font-size: 1.8em;
}

.bid-pad div.bidbutton:hover {
    border: 2px dotted #d58604;
}

.bid-pad div.bidbutton.active {
    border: 2px solid #d58604;
}

table.contracts tbody tr:hover {
    cursor: pointer;
}

.editBoard i {
    float: right;
    color: #CCD;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}