<table class="cards">
    <tr>
        <td>
        </td>
        <td>{{hand north}}</td>
        <td class="info">
            <div><small>Board:</small> {{boardNumber}}</div>
            <div><small>Dealer:</small> {{dealer}}</div>
            <div><small>Vuln.:</small> {{vulnerable}}</div>                        
        </td>
    </tr>
    <tr>
        <td>{{hand west}}</td>
        <td><div class="center"><br/><br/><br><br/></div></td>
        <td>{{hand east}}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{hand south}}</td>
        <td></td>
    </tr>
</table>