<div class="bid-pad">
  <div class="row-fluid">
    <div class="span3 pass bidbutton">Pass</div>
    <div class="span3 bidbutton">1</div>
    <div class="span3 bidbutton">2</div>
    <div class="span3 bidbutton active">3</div>
  </div>
  <div class="row-fluid">
    <div class="span3 bidbutton">4</div>
    <div class="span3 bidbutton">5</div>
    <div class="span3 bidbutton">6</div>
    <div class="span3 bidbutton">7</div>
  </div>
  <div class="row-fluid">
    <div class="span3 clubs bidbutton">&clubs;</div>
    <div class="span3 diamonds bidbutton">&diams;</div>
    <div class="span3 hearts bidbutton">&hearts;</div>
    <div class="span3 spades bidbutton active">&spades;</div>
  </div>
  <div class="row-fluid">
    <div class="span3 notrump bidbutton">NT</div>
    <div class="span3">&nbsp;</div>
    <div class="span3 doubled bidbutton active">X</div>
    <div class="span3 redoubled bidbutton">XX</div>
  </div>
  <div class="row-fluid">
    <div class="span3 bidbutton">North</div>
    <div class="span3 bidbutton active">South</div>
    <div class="span3 bidbutton">East</div>
    <div class="span3 bidbutton">West</div>
  </div>
  <div class="row-fluid">
    <div class="span4 bidbutton"><i class="icon-minus-sign"></i></div>
    <div class="span4 center"><input class="input-mini" type="text" value="10"/></div>
    <div class="span4 bidbutton"><i class="icon-plus-sign"></i></div>
  </div>
  <div class="row-fluid">
    <div class="span12 contract">
      3 &spades; X S 10 = 170
    </div>
  </div>
