<div ng-controller="SetupCtrl">
    <div class="row-fluid">
        <div class="span6">
            <label>Tournament name</label>
            <input type="text" ng-model="tournament.name"/>
            <label>Description</label>
            <input type="text" ng-model="tournament.description"/>
            <label>Start date</label>
            <input type="text" ng-model="tournament.eventDate" ui-date  ui-date-format>
        </div>
        <div class="span6">
            <label>Boards</label>
            <input type="text" ng-model="tournament.boardCount"/>
            <label>Rounds</label>
            <input type="text" ng-model="tournament.roundCount"/>
        </div>
    </div>
    <div class="row-fluid">
      <br/>
      <button class="btn btn-primary" ng-click="saveSetup()">Save</button>
    </div>
</div>